body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    width: 100%;
    background: linear-gradient(135deg, #1b2b66,#000);
}

/* colour group */
:root {
    --primary: #1e3a8a;
    --secondary: #1e40af;
    --accent: #3b82f6;
    --light: #f8fafc;
    --dark: #0f172a;
    --text: #e2e8f0;
}

/* Banner Section  */

.banner {
    background-image: url("/img/about_bg.png") ;
    width: 100%;
    padding: 20px 0;
    height: 650px;
}

.box-container {
    width: 70%;
    position: relative;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 20px;
    
}
.box-container-s{
    background: linear-gradient(135deg, var(--primary), var(--dark));
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-right: 100px;
    padding-left: 10px;
    padding-top: pc;
}

.banner-content {
    width: 70%;
    margin: auto;
    position: relative;
    text-align: left;
}

.banner-title, .banner-description, .banner-subtitle, .banner-button {
    margin-left: 20px;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1.5s ease forwards;
}

.banner-title {
    color:#3b5cc6;
    font-size: 30px;
    animation-delay: 0s;
}

.banner-subtitle {
    color: #000000a6;
    font-size: 40px;
    animation-delay: 0.3s;
}

.banner-description {
    color: #ffffff68;
    font-size: 20px;
    animation-delay: 0.6s;
}

.banner-button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: var(--accent);
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation-delay: 0.9s;
}

.banner-button:hover {
    background: var(--accent);
    color: white;
    transform: scale(1.1);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* End of Banner Section */

/* Contact Us Section */

.header {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 30px;
}


.header h1 {
    margin-left: 5%;
    color: white;
    margin: 20px;
    text-align: center;
}

.contact-info-1 {
    display: flex;
    color: #b1d9f4;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 5%;
    padding-bottom: 20px;
}

.contact-info-2 {
    display: flex;
    color: #b1d9f4;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 5%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
}

.contact-group p {
    margin-top: 5px;
}

.contact-group-top {
    display: flex
}

.contactimg {
    margin-right: 20px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.highlight {
    margin-top: 5px;
    color: #cad7f4;
}

.form-section {
    margin-top: 60px;
}

.form-title {
    color: #fff;
    margin-left: 5%;
    margin-bottom: 10px;
    text-align: left;
}

form {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
.form-group {
    position: relative;
    flex: 1;
    min-width: 40%;
}
  
label {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 16px;
    color: #ccc;
    transition: 0.3s ease;
    pointer-events: none;
}

.inputs{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #555;
    font-size: 16px;
    background-color: #00000000;
    color: #fff;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    color: #1e3a8a;
}
  
.inputs:focus {
    outline: none;
    border-bottom: 1px solid #170d4f;
}
  
.inputs:focus + label,
.inputs:not(:placeholder-shown) + label {
    top: -8px;
    font-size: 14px;
    color: #66fcf1;
}

/* Submit Button */

.form-button {
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.submitimg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.submit {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    width: 170px;
    height: 70px;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    background-color: #110723;
    color: #fff;
    cursor: pointer;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit:hover {
    background-color: #333;
    transform: scale(1.05);
}

.submit:active {
    transform: scale(0.95);
}

/* End of Submit Button */

/* Description */

.description {
    text-align: center;
   +

    background-color: #292727fa;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.description h4 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.description p {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #1e40af;
    line-height: 1.5;
    margin: auto;
    display: inline-block;
    text-align: left;
}


/*End of Description */

/* End of Contact Section */

/* Scroll Button */

#scrolldownbutton {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 500ms;
}
  
#scrolldownbutton:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

/* End of Scroll Button */

/* Mobile CSS */
  
@media only screen and (max-width: 450px) {
    .contact-info {
        display: flex;
        flex-direction: column;
    }

    .box-container{
        width: 100%;
    }

    .form-group {
        min-width: 100%;
    }

    .contact-group-top {
        display: block;
    }
}

